<header class="header">
  <a routerLink="/" class="header-logo-text">
    <span class="header-logo-circle">T</span>
    <span class="header-logo-title">TermsEasy</span>
  </a>

  <ul class="nav-menu">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/platforms" routerLinkActive="active" class="nav-link">Platforms</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>
