<footer class="footer">
  <div class="footer-content">
    <div class="footer-icon">
      <a routerLink="/" class="footer-logo-text">TermsEasy</a>
    </div>
    <div class="footer-links">
      <div class="link-group">
        <div>Site</div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/platforms">Platforms</a></li>
          <li><a routerLink="/platforms/comparison">Compare</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>Resources</div>
        <ul>
          <li><a href="/docs/index.html" target="_blank">Documentation</a></li>
          <li><a href="/docs/404.html" target="_blank">404 Page</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider">
</footer>
